
/* _____ MIXINS _____ */

// Fonts
// ==========================================================================
$fontPath: '../font/';

@mixin importFont($fontname, $filename, $fontWeight: normal, $isItalic: false, $eotFallback: true, $eot: false, $woff2: false, $woff: true, $ttf: true) {
  $fontSources: ();

  @if $eotFallback {
    $fontSources: append($fontSources, url('#{$fontPath}#{$filename}.eot?') format('eot'));
  }

  @if $eot {
    $fontSources: append($fontSources, url('#{$fontPath}#{$filename}.eot?#iefix') format('embedded-opentype'));
  }

  @if $woff2 {
    $fontSources: append($fontSources, url('#{$fontPath}#{$filename}.woff2') format('woff2'));
  }

  @if $woff {
    $fontSources: append($fontSources, url('#{$fontPath}#{$filename}.woff') format('woff'));
  }

  @if $ttf {
    $fontSources: append($fontSources, url('#{$fontPath}#{$filename}.ttf') format('ttf'));
  }

  $fontSourceString: '';
  @each $fontSource in $fontSources {
    @if  index($fontSources, $fontSource) > 1 {
      $fontSourceString: $fontSourceString + ', ';
    }
    $fontSourceString: $fontSourceString + $fontSource;
  }

  @font-face {
    font-family: $fontname;
    font-weight: $fontWeight;
    src: #{$fontSourceString};

    @if $isItalic {
      font-style: italic;
    } @else {
      font-style: normal;
    }
  }
}


// Units
// ==========================================================================

@mixin remIt($attr, $value, $value2: '', $before: '', $between:'', $after: '') {
    @if $value2 == '' {
      #{$attr}: #{$before}#{$value}px#{$after};
      #{$attr}: #{$before}#{$value/$baseFontSize}rem#{$after};
    } @else {
      #{$attr}: #{$before}#{$value}px#{$between}#{$value2}px#{$after};
      #{$attr}: #{$before}#{$value/$baseFontSize}rem#{$between}#{$value/$baseFontSize}rem#{$after};
    }
}

// Helpers
// ==========================================================================

@mixin box-opacity($value) {
  opacity: $value; // Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+
  filter: alpha(opacity=$value*100); // IE6-IE8
}
