/* _____ VARIABLES _____ */

// Generic
// ==========================================================================


// Colors
// ==========================================================================

/******************************************
 *  Colors
 ******************************************/

$color-black          : #000000;
$color-white          : #ffffff;
$color-grey           : #222222;
$color-orange         : #FF7D00;


$color-text-primary: $color-grey;
