.creatorLayout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: table;
  table-layout: fixed;

  @include breakpoint(small){
    display: block;
    position: relative;
    height: auto;
  }

  &_controls {
    display: table-cell;
    width: 300px;
    background: $color-grey;

    @include breakpoint(small){
      display: block;
      width: 100%;
    }
  }

  &_preview {
    display: table-cell;
    background: $color-grey-light;

    @include breakpoint(small){
      display: block;
      width: 100%;
    }
  }
}
